<character isPlayer="true" flipX="true" singDuration="4.0" scale="1.0" danceSteps="idle" x="0" y="350" camX="0" camY="0" scrollX="1.0" scrollY="1.0" antialiasing="true" >
	<healthbar icon="bf" color="#31b0d1"/>
	<anims>
		<anim name="idle"          prefix="BF idle dance"      fps="24" loop="false" x="-5"  y="0"/>
		<anim name="singUP"        prefix="BF NOTE UP0"        fps="24" loop="false" x="-29" y="27"/>
		<anim name="singLEFT"      prefix="BF NOTE LEFT0"      fps="24" loop="false" x="12"  y="-6"/>
		<anim name="singRIGHT"     prefix="BF NOTE RIGHT0"     fps="24" loop="false" x="-38" y="-7"/>
		<anim name="singDOWN"      prefix="BF NOTE DOWN0"      fps="24" loop="false" x="-10" y="-50"/>
		<anim name="singUPmiss"    prefix="BF NOTE UP MISS"    fps="24" loop="false" x="-29" y="27"/>
		<anim name="singLEFTmiss"  prefix="BF NOTE LEFT MISS"  fps="24" loop="false" x="12"  y="24"/>
		<anim name="singRIGHTmiss" prefix="BF NOTE RIGHT MISS" fps="24" loop="false" x="-30" y="21"/>
		<anim name="singDOWNmiss"  prefix="BF NOTE DOWN MISS"  fps="24" loop="false" x="-11" y="-19"/>
		<anim name="hey"           prefix="BF HEY!!"           fps="24" loop="false" x="7"   y="4"/>
		<anim name="scared"        prefix="BF idle shaking"    fps="24" loop="true"  x="-4"  y="0"/>
	</anims>
</character>
