<character singDuration="6.1" >
	<healthbar icon="dad" color="175,102,206"/>
	<anims>
		<anim name="idle"      prefix="Dad idle dance"      fps="24" loop="false" x="0" y="0"/>
		<anim name="singUP"    prefix="Dad Sing Note UP"    fps="24" loop="false" x="-6" y="50"/>
		<anim name="singLEFT"  prefix="Dad Sing Note LEFT"  fps="24" loop="false" x="-10" y="10"/>
		<anim name="singRIGHT" prefix="Dad Sing Note RIGHT" fps="24" loop="false" x="0" y="27"/>
		<anim name="singDOWN"  prefix="Dad Sing Note DOWN"  fps="24" loop="false" x="0" y="-30"/>
	</anims>
</character>
